@using JabbR;
@using JabbR.Services;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JabbR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Chat.css")" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="login">
            <div class="login-header">
                <div class="banner" role="banner">
                    <h1>Jabb</h1>
                    <div class="jabbrLogo large-logo" id="logo"></div>
                    <div>
                        Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a>
                    </div>
                </div>
            </div>
            <div class="login-body">
                @Html.AlertMessages()
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript">
        (function($) {
            $('input.error').closest('.control-group').addClass('error');
        }(jQuery));
    </script>
</body>
</html>
