@using System;
@using System.Linq;
@using JabbR.Infrastructure;
@using JabbR.Models;
@using JabbR.ViewModels;
@model SocialLoginViewModel
    <div class="control-group">
        <div class="controls">
            <form action="@Url.Content("~/account/unlink")" method="POST">
                @foreach (var provider in Model.ConfiguredProviders)
                {
                    <ul class="inline">
                        @if (!Model.IsAlreadyLinked(provider))
                        {
                            <li><a class="btn btn-provider" href="@Url.Content("~/authentication/redirect/" + provider)"><i class="icon-@provider.ToLower()-logo"></i> @provider</a></li>
                        }
                        else
                        {
                            <li><div class="provider"><i class="icon-@provider.ToLower()-logo"></i> @provider</div><button type="submit" class="btn-unlink" name="provider" value="@provider" title="unlink identity provider"><i class="icon-unlink"></i></button></li>
                        }
                    </ul>
                }
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
