@using JabbR;
    <form class="form-horizontal" action="@Url.Content("~/account/login")" method="post">
        @Html.ValidationSummary()
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBox("username", "input-block-level", "Username")
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.Password("password", "input-block-level", "Password")
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="@Url.Content("~/account/register")">Register</a> if you don't have an account.
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
