@using JabbR;
    <form class="form-horizontal" action="@Url.Content("~/account/login")" method="post">
        @Html.ValidationSummary()
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBox("username", "span10", "Username")
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.Password("password", "span10", "Password")
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
        @if (Model.AllowUserRegistration || Model.AllowUserResetPassword)
        { 
            <div class="control-group">
                <div class="controls">                    
                    @if (Model.AllowUserRegistration)
                    {
                        <p>
                            <a href="@Url.Content("~/account/register")">Register</a> if you don't have an account.
                        </p>
                    }
                    @if (Model.AllowUserResetPassword && Model.HasEmailSender)
                    { 
                        <p>
                            <a href="@Url.Content("~/account/requestresetpassword")">Reset password</a> if you've forgotten or lost your login information.       
                        </p>   
                    }
                </div>
            </div>
        }
        @Html.AntiForgeryToken()
    </form>
