@using JabbR.ViewModels
@{
    var userModel = (ProfilePageViewModel)Model;
    var gravatar = String.Format("https://secure.gravatar.com/avatar/{0}?s=48&d=mm", userModel.Hash);
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JabbR</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Chat.css")" rel="stylesheet" />
</head>
<body>
    <section id="page" role="application">
        <header id="heading" role="heading">
            <div class="banner" role="banner">
                <h1>Jabb</h1>
                <div class="jabbrLogo" id="logo"></div>
                <div>
                    Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a>
                </div>
            </div>
            <div class="account pull-right">
                <a href="@Url.Content("~/")" class="btn"><i class="icon-arrow-left"></i></a>
            </div>
            <div style="clear: both"></div>
        </header>
        <div class="container">
            <div class="row" style="padding-top: 75px;">
                <div class="span4 user-details-sidenav">
                    <div class="user-details">
                        <img class="gravatar" src="@gravatar" style="float: left;" />
                        <div class="details">
                            <span class="name">@userModel.Name</span>
                        </div>
                    </div>
                    <ul id="accountmenu" class="nav nav-list">
                        <li class="active" data-target="#profile"><a href="#"><i class="icon-chevron-right"></i>Profile</a></li>
                        <li data-target="#changePassword"><a href="#"><i class="icon-chevron-right"></i>Password</a></li>
                        <li data-target="#identityProviders"><a href="#"><i class="icon-chevron-right"></i>Identity Providers</a></li>
                    </ul>
                </div>
                <div class="span8">
                    <div class="account-details" id="profile">
                        <div class="account-details-header">
                            <h1>Profile</h1>
                        </div>
                        <div class="account-details-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="note">Note</label>
                                    <div class="controls">
                                      <label class="control-label label-align-left">@userModel.Note</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="country">Country</label>
                                    <div class="controls">
                                        <label class="control-label label-align-left">@userModel.Country <span class="flag flag-@userModel.Flag"></span></label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls hide">
                                        <input type="submit" class="btn" value="Save Changes" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="account-details hide" id="changePassword">
                        <div class="account-details-header">
                            <h1>Password</h1>
                        </div>
                        <div class="account-details-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="currentPassword">Current Password</label>
                                    <div class="controls">
                                        <input type="password" id="currentPassword" class="input-xlarge" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="newPassword">New Password</label>
                                    <div class="controls">
                                        <input type="password" id="newPassword" class="input-xlarge" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="confirmNewPassword">Confirm Password</label>
                                    <div class="controls">
                                        <input type="password" id="confirmNewPassword" class="input-xlarge" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="submit" class="btn" value="Save Changes" />
                                    </div>
                                </div>
                                @Html.AntiForgeryToken()
                            </form>
                        </div>
                    </div>
                    <div class="account-details hide" id="identityProviders">
                        <div class="account-details-header">
                            <h1>Identity Providers</h1>
                        </div>
                        <div class="account-details-body">
                            @Html.Partial("_social", @userModel.SocialDetails)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="Scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var currentSection = $('#profile');
            var active = $('#accountmenu li.active');

            $('#accountmenu li').click(function () {
                if (currentSection) {
                    $(currentSection).hide();
                    $(active).removeClass('active');
                }
                currentSection = $(this).data('target');
                active = this;
                $(this).addClass('active');
                $(currentSection).show();
            });
        });
    </script>
</body>
</html>
