@using JabbR;
@{
    Layout = "_layout.cshtml";
}
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="user-request-reset-password">
            <form class="form-horizontal" action="@Url.Content("~/account/resetpassword/" + Model + Html.RequestQuery())" method="post">
                @Html.ValidationSummary()
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.Password("password", "span10", @LanguageResources.Account_Pass)
                        </div>
                    </div>
                </div>
                <div class="control-group">           
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.Password("confirmPassword", "span10", @LanguageResources.Account_PassConfirm)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">@LanguageResources.Account_ResetPassword</button>
                        <a href="@Url.Content("~/")" class="btn">@LanguageResources.Account_Cancel</a>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>