@using JabbR;
@{
    Layout = "_layout.cshtml";
}
<div class="user-request-reset-password">
    <form class="form-horizontal" action="@Url.Content("~/account/resetpassword/" + Model)" method="post">
        @Html.ValidationSummary()
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.Password("password", "input-xlarge", "New Password")
                </div>
            </div>
        </div>
        <div class="control-group">           
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.Password("confirmPassword", "input-xlarge", "Confirm New Password")
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Reset password</button>
                <a href="@Url.Content("~/")" class="btn">Cancel</a>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>
