@using JabbR
@using JabbR.ViewModels
@using PagedList
@model NotificationsViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JabbR</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Chat.css")" rel="stylesheet" />
</head>
<body>
    <section id="page" role="application">
        <header id="heading" role="heading">
            <div class="banner" role="banner">
                <h1>Jabb</h1>
                <div class="jabbrLogo" id="logo"></div>
                <div>
                    Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </header>
        <div class="container">
            <div class="row" style="padding-top: 75px;">
                @Html.AlertMessages()
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="nav-header">List header</li>
                        <li class="active">Unread <span id="js-unread-counter" class="pull-right">@Model.TotalCount</span></li>
                        <li>All Notifications</li>
                    </ul>
                </div>
                <div class="span10">
                    <ul>
                        @foreach (var notification in Model.Notifications)
                        {
                            var note = notification as JabbR.Models.Notification;
                            <li data-notification-id="@note.Key">
                                <ul class="inline">
                                    <li>@note.Message.Room.Name</li>
                                    <li>@note.Message.User.Name</li>
                                    <li class="user">
                                        <img class="gravatar" src="https://secure.gravatar.com/avatar/@note.Message.User.Hash?s=16&amp;d=mm" />
                                    </li>
                                    <li>
                                        <a href="#" class="js-mark-as-read"><i class="icon-remove-circle"></i></a>
                                    </li>
                                </ul>
                                <h4>@note.Message.Content</h4>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript">
        (function ($) {

        }(jQuery));
    </script>
</body>
</html>
