@using JabbR
@using JabbR.ViewModels
@using PagedList
@model NotificationsViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JabbR</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Chat.css")" rel="stylesheet" />
</head>
<body>
    <section id="page" role="application">
        <header id="heading" role="heading">
            <div class="banner" role="banner">
                <h1>Jabb</h1>
                <div class="jabbrLogo" id="logo"></div>
                <div>
                    Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </header>
        <div class="container">
            <div class="row" style="padding-top: 75px;">
                @Html.AlertMessages()
                <div class="span2 user-details-sidenav">
                    <div class="user-details">
                        <span class="name">notifications</span>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            Total <span class="pull-right">@Model.TotalCount</span>
                        </li>
                    </ul>
                </div>
                <div class="span10">
                    <ul>
                        @foreach (var notification in Model.Notifications)
                        {
                            var note = notification as JabbR.Models.Notification;
                            <li>@note.Message.Room.Name - @note.Message.Content</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript">
        (function ($) {

        }(jQuery));
    </script>
</body>
</html>
